<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Dni</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Email</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of listadoEstudiantes">
            <td>{{estudiante.id}}</td>
            <td>{{estudiante.dni}}</td>
            <td>{{estudiante.lastName}}</td>
            <td>{{estudiante.firstName}}</td>
            <td>{{estudiante.email}}</td>
            <td><button class="btn btn-success btn-sm" (click)="vista(ver, estudiante)">Ver</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="borrar(estudiante.id)">Borrar</button></td>
        </tr>
    </tbody>
</table>

<form [formGroup]="estudianteForm" style="border: 1px solid;">
    <input type="number -spinner" style="margin-top: 3%;" class="form-control" formControlName="dni" placeholder="Ingrese el DNI">
    <span *ngIf="this.estudianteForm.get('dni')?.errors?.['required'] && this.estudianteForm.get('dni')?.touched" style="color: red">
        (El campo no puede quedar vacío)
    </span>
    <span *ngIf="this.estudianteForm.get('dni')?.errors?.['pattern']" style="color: red">
        (DNI inválido)
    </span>
    <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese el apellido">
    <span *ngIf="this.estudianteForm.get('apellido')?.errors?.['required'] && this.estudianteForm.get('apellido')?.touched" style="color: red">
        (El campo no puede quedar vacío)
    </span>
    <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese el nombre">
    <span *ngIf="this.estudianteForm.get('nombre')?.errors?.['required'] && this.estudianteForm.get('nombre')?.touched" style="color: red">
        (El campo no puede quedar vacío)
    </span>
    <input type="email" class="form-control" formControlName="email" placeholder="Ingrese el email">    
    <span *ngIf="this.estudianteForm.get('email')?.errors?.['required'] && this.estudianteForm.get('email')?.touched" style="color: red">
        (El campo no puede quedar vacío)
    </span>
    <span *ngIf="this.estudianteForm.get('email')?.errors?.['email']" style="color: red">
        (Email inválido)
    </span>
    <div style="text-align: center" style="margin-top: 5%; margin-bottom: 3%; margin-left: 32%;"><button class="btn btn-primary btn-sm" (click)="agregar()" [disabled]="!estudianteForm.valid">Agregar</button></div>
</form>


<ng-template #ver let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Datos estudiante</h5>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>    </div>
    <div class="modal-body">
        <label>Id:</label>
        <input class="form-control" [(ngModel)]="id2" readonly>
        <label>Dni:</label>
        <input class="form-control" [(ngModel)]="dni2" ngbAutofocus>
        <label>Apellido:</label>
        <input class="form-control" [(ngModel)]="apellido2">
        <label>Nombre:</label>
        <input class="form-control" [(ngModel)]="nombre2">
        <label>Email:</label>
        <input class="form-control" [(ngModel)]="email2">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Actualizar</button>
    </div>
</ng-template>