<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Dni</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Email</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of listadoEstudiantes">
            <td>{{estudiante.id}}</td>
            <td>{{estudiante.dni}}</td>
            <td>{{estudiante.lastName}}</td>
            <td>{{estudiante.firstName}}</td>
            <td>{{estudiante.email}}</td>
            <td><button (click)="vista(ver, estudiante)">Ver</button></td>
            <td><button (click)="borrar(estudiante.id)">Borrar</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th><input [(ngModel)]="dni"></th>
            <th><input [(ngModel)]="apellido"></th>
            <th><input [(ngModel)]="nombre"></th>
            <th><input [(ngModel)]="email"></th>
            <th colspan="2"><button (click)="agregar()">Agregar</button></th>
        </tr>
    </tfoot>
</table>
<ng-template #ver let-modal>
    <div class="modal-header">

    </div>
    <div class="modal-body">
        <label>Id:</label>
        <input class="form-control" [(ngModel)]="id2" readonly>
        <label>Dni:</label>
        <input class="form-control" [(ngModel)]="dni2" ngbAutofocus>
        <label>Apellido:</label>
        <input class="form-control" [(ngModel)]="apellido2">
        <label>Nombre:</label>
        <input class="form-control" [(ngModel)]="nombre2">
        <label>Email:</label>
        <input class="form-control" [(ngModel)]="email2">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Actualizar</button>
    </div>
</ng-template>